{% include "header.html" %}

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1 class="content">{{event.heading}}</h1>
          <span class="subheading"
            >{{event.date}} {% if current_user.id == 1: %}<a
              href="{{url_for('delete_event', event_id=event.id) }}"
              >✘</a
            >{% endif %}</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p class="content">{{event.text}}</p>
    </div>
  </div>
</div>

<hr />
{% include "footer.html" %}
