<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>EcoLifestyle</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"/>

    <link
      href="{{ url_for('static', filename='css/clean-blog.min.css')}}"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon.ico')}}"
    />
  </head>

  <body>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Полезные ссылки</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Веб-сайты, которые предоставляют ресурсы, такие как список магазинов, продающих неупакованные товары:</h6>
        <p><a href="https://zerowastehome.com/">Zero Waste Home</a>: На этом веб-сайте представлен список магазинов, которые продают неупакованные товары в различных странах по всему миру.</p>
        <p><a href="https://www.litterless.com/wheretoshop">Litterless</a>: На этом веб-сайте представлен список магазинов, которые продают неупакованные товары в различных городах по всему миру.</p>
        <p><a href="https://www.thezerowastecollective.com/zero-waste-map">The Zero Waste Collective</a>: На этом веб-сайте представлена карта магазинов, которые продают неупакованные товары в различных городах по всему миру.</p> <br>
        <h6>Веб-сайты, на которых представлен список компаний, принимающих бывшие в употреблении товары для вторичной переработки:</h6>
        <p><a href="https://www.businessinsider.com/stores-that-recycle-used-clothing-electronics">Business Insider</a>: На этом веб-сайте представлен список компаний, которые перерабатывают бывшую в употреблении электронику и бытовую технику.</p>
        <p><a href="https://www.zenbusiness.com/blog/list-companies-that-excel-recycling-waste-management/">ZenBusiness Inc.</a>: На этом веб-сайте представлен список компаний, которые преуспели в переработке и обращении с отходами.</p> <br>
        <h6>Веб-сайты, которые предоставляют ресурсы, такие как раздел с экологически чистыми рецептами, советы о том, как сделать ваш дом и офис более экологически безопасными:</h6>
        <p><a href="https://www.treehugger.com/">Tree Hugger</a>: Этот веб-сайт предоставляет информацию о здоровом и экологичном образе жизни с акцентом на природу, науку и устойчивый дизайн.</p>
        <p><a href="https://www.motherearthnews.com/">Mother Earth News</a>: Этот веб-сайт предоставляет информацию об органическом садоводстве, проектах DIY, возобновляемых источниках энергии, естественном здоровье и многом другом.</p>
        <p><a href="https://petiteplanet.com/">Petite Planet</a>: На этом веб-сайте представлены идеи экологически чистых поделок, обзоры игрушек и гаджетов, а также рассказы из первых рук от знающих мам.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


    <div
      class="modal fade"
      id="about"
      aria-hidden="true"
      aria-labelledby="aboutLabel"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="aboutLabel">О нас</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Основная цель веб-сайта EcoLifestyle - обучить людей тому, как
              вести экологически сознательный образ жизни, снижая при этом свое
              негативное воздействие на окружающую среду. На сайте вы можете
              получить доступ к многочисленным статьям и советам, касающимся
              различных аспектов жизни в условиях окружающей среды, включая
              устойчивое потребление, энергосбережение, переработку отходов и
              использование экологически чистых материалов и продуктов.
            </p>
            <p>
              EcoLifestyle направлен на то, чтобы помочь людям осознать важность
              экологического мышления и действий в их повседневной жизни.
              Веб-сайт предоставляет им необходимые знания для принятия
              обоснованного выбора, который принесет пользу экосистеме и
              сохранит природные ресурсы для будущих поколений.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="about2"
      aria-hidden="true"
      aria-labelledby="aboutLabel2"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="aboutLabel2">
              Обо мне
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Здравствуйте, меня зовут Таир, и в настоящее время я студент НИШа.
              Я родился 25 августа 2007 года, и у меня есть страсть к
              программированию. Хотя я начал проявлять интерес к этому занятию
              когда мне было десять, я не начинал активно программировать, пока
              мне не исполнилось четырнадцать. Я нахожу процесс кодинга
              интересным и впечатляющим, потому что оно позволяет вам заставить
              ваш компьютер делать все, что вы хотите.
            </p>
            <p>
              Чтобы улучшить свои навыки программирования, я использую различные
              ресурсы, такие как Udemy, Coursera и другие. Чтобы
              попрактиковаться, я часто работаю над упражнениями по кодингу и
              проектами. Я верю, что, совершенствуя свои способности
              программирования, я могу облегчить жизнь не только себе, но и
              другим.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('get_all_posts')}}"
          ><img
            id="logo"
            width="40"
            height="40"
            src="{{ url_for('static', filename='img/leaf.png')}}"
        /></a>

        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Меню
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('get_all_posts') }}"
                >Главная</a
              >
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Полезное
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a class="dropdown-item" href='#' data-bs-toggle="modal" data-bs-target="#staticBackdrop">Полезные ресурсы</a></li>
                  <li><a class="dropdown-item" href="{{url_for('calculator')}}">Калькулятор потребления ресурсов</a></li>
                </ul>
              </li>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="modal"
                href="#about"
                role="button"
                >О нас</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                data-bs-toggle="modal"
                href="#about2"
                role="button"
                >О создателе</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Свяжитесь с нами</a>
            </li>
            {% if current_user.is_authenticated: %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
            </li>
            {% else: %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}"
                >Регистрация</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
